@tailwind base;
@tailwind components;
@tailwind utilities;

// Add the font-face for Cascadia Code
@font-face {
  font-family: 'Cascadia Code';
  src: url('/Fonts/CascadiaCode.woff2') format('woff2'),
       url('/Fonts/CascadiaCode-Regular.otf') format('opentype'),
       url('/Fonts/CascadiaCode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --background: #ffffff;
  --foreground: #171717;
  --highlight-bg: #01d101;
  --highlight-fg: #ededed;
}



@media (prefers-color-scheme: dark) {
  :root{
    --background: #000;
    --foreground: #ededed;
    --highlight-bg: #006400;
    --highlight-fg: #000;
  }
}

// Selection Mixin
@mixin selection {
  background: var(--highlight-bg);
  color: var(--highlight-fg);
}

::selection {
  @include selection;
}

::-moz-selection {
  @include selection;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Cascadia Code';//, Arial, Helvetica, sans-serif; // Update the font-family
  font-size: small;
  text-align: center;
}

li {
  &::marker{
    content: "\2623 ";
    color: white;
  }
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  top: 100%;
  left: 100%;
  z-index: 1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
