@use "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-Gween-300: hsl(120, 99.05%, 41.18%);
  --color-Gween-600: hsl(120, 100%, 19.61%);

  --background-image-svgimg: url("https://github-readme-stats.vercel.app/api?username=GameLord2011&theme=shadow_green&show_icons=true&rank_icon=github");

  --breakpoint-jio2: 240px;
  --breakpoint-bz30: 360px;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

// Add the font-face for Cascadia Code
@font-face {
  font-family: "Cascadia Code";
  src:
    url("/Fonts/CascadiaCode.woff2") format("woff2"),
    url("/Fonts/CascadiaCode-Regular.otf") format("opentype"),
    url("/Fonts/CascadiaCode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 9%);
  --highlight-bg: hsl(120, 99%, 41%);
  --highlight-fg: hsl(0, 0%, 93%);
  --nav-btn-bg: hsl(158, 95%, 34%);
  --nav-btn-hvr-bkg: hsl(158, 95%, 24%);
  --nav-bkg: hsl(0, 0%, 95%);
  --nav-hvr-bkg: hsl(0, 0%, 87%);
}

a {
  color: hsl(120, 99%, 41%);
  &:visited {
    color: hsl(120, 100%, 20%);
  }
  &:hover {
    color: hsl(120, 100%, 20%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 0%);
    --foreground: hsl(0, 0%, 93%);
    --highlight-bg: hsl(120, 100%, 20%);
    --highlight-fg: hsl(0, 0%, 0%);
    --nav-btn-bg: hsl(122, 39%, 30%);
    --nav-btn-hvr-bkg: hsl(122, 39%, 40%);
    --nav-bkg: hsl(0, 0%, 20%);
    --nav-hvr-bkg: hsl(0, 0%, 27%);
  }
}

@-webkit-keyframes nvbr-btn-clr-cng {
  from {
    background-color: var(--nav-btn-bg);
  }
  to {
    background-color: var(--nav-btn-hvr-bkg);
  }
}

@-moz-keyframes nvbr-btn-clr-cng {
  from {
    background-color: var(--nav-btn-bg);
  }
  to {
    background-color: var(--nav-btn-hvr-bkg);
  }
}

@-o-keyframes nvbr-btn-clr-cng {
  from {
    background-color: var(--nav-btn-bg);
  }
  to {
    background-color: var(--nav-btn-hvr-bkg);
  }
}

@keyframes nvbr-btn-clr-cng {
  from {
    background-color: var(--nav-btn-bg);
  }
  to {
    background-color: var(--nav-btn-hvr-bkg);
  }
}

@-webkit-keyframes nvbr-lnk-clr-cng {
  from {
    background-color: var(--nav-bkg);
  }
  to {
    background-color: var(--nav-hvr-bkg);
  }
}

@-moz-keyframes nvbr-lnk-clr-cng {
  from {
    background-color: var(--nav-bkg);
  }
  to {
    background-color: var(--nav-hvr-bkg);
  }
}

@-o-keyframes nvbr-lnk-clr-cng {
  from {
    background-color: var(--nav-bkg);
  }
  to {
    background-color: var(--nav-hvr-bkg);
  }
}

@keyframes nvbr-lnk-clr-cng {
  from {
    background-color: var(--nav-bkg);
  }
  to {
    background-color: var(--nav-hvr-bkg);
  }
}

// Selection Mixin
@mixin selection {
  background: var(--highlight-bg);
  color: var(--highlight-fg);
}

::selection {
  @include selection;
}

::-moz-selection {
  @include selection;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Cascadia Code";
  font-size: small;
  text-align: center;
}

ul li::marker {
  content: "\2623 ";
  color: var(--foreground);
}

ol li::marker {
  color: var(--foreground);
}

.dropbtn {
  background-color: var(--nav-btn-bg);
  color: hsl(0, 0%, 93%);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  top: 100%;
  left: 100%;
  z-index: 1;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: sticky;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--nav-bkg);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px hsla(0, 0%, 0%, 0.2);
  z-index: 1;
  border-radius: 4px;
  border-top-left-radius: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  -webkit-animation-name: nvbr-lnk-clr-cng;
  -moz-animation-name: nvbr-lnk-clr-cng;
  -o-animation-name: nvbr-lnk-clr-cng;
  animation-name: nvbr-lnk-clr-cng;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  -webkit-animation-name: nvbr-btn-clr-cng;
  -moz-animation-name: nvbr-btn-clr-cng;
  -o-animation-name: nvbr-btn-clr-cng;
  animation-name: nvbr-btn-clr-cng;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#tsparticles {
  z-index: -10;
  position: relative;
}
