@tailwind base;
@tailwind components;
@tailwind utilities;

// Add the font-face for Cascadia Code
@font-face {
  font-family: 'Cascadia Code';
  src: url('/public/Fonts/CascadiaCode.woff2') format('woff2'),
       url('/public/Fonts/CascadiaCode-Regular.otf') format('opentype'),
       url('/public/Fonts/CascadiaCode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

::selection {
  background: #01d101;
  color: #ededed
}

::-moz-selection {
  background: #01d101;
  color: #ededed
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }

  ::selection {
    background: #006400;
    color: #000;
  }

  ::-moz-selection {
    background: #006400;
    color: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Cascadia Code';//, Arial, Helvetica, sans-serif; // Update the font-family
  text-align: center;
}

li::marker {
  content: "\2623";
  color: white;
}
